.header {
    font-size: 12px;
    font-weight: bold;

    #navItem {
        &:hover {
            color: $hover-color;
        }
    }
}

.container00 {
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.arrowDown {
    display: inline-block;
    width: 90px;
    margin-top: 5px;
}

.navBarPC {
    width: 240px;
    margin-left: -10px;
    margin-right: 40px;
}

#button {
    padding: $padding-button;
    border: 2px solid white;
}

.footer {
    height: 15vh;
    background-color: black;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
        color: white;
        text-decoration: none;

        &:hover {
            color: $hover-color;
        }
    }

    .copyOBC {
        color: $copyright-color;
    }
}

.downloadDesc {
    background-color: black;
    padding-top: 240px;
    height: 85vh;

    button {
        border: 2px solid white;
        margin-right: 10px;
    }
}

.emailObc {
    text-decoration: none;
    color: white;
    border-bottom: 1px solid white;

    &:hover {
        border-bottom: 1px solid $hover-color;
        color: $hover-color;
    }
}

// Media Query

@media (max-width: 449px) {
    .downloadDesc {

        button {
            margin: 10px 0px;
        }
    }
}

@media (max-width: 405px) {
    .logoPc {
        width: 180px;
        margin-top: 15px;
    }

    .footer {
        font-size: 10px;
    }
}

@media (max-width: 350px) {
    .logoPc {
        width: 150px;
        margin-top: 15px;
    }
}